---
import brandImg from "@assets/about-brand.png";
import Button from "@components/button.astro";
---

<section class="container" id="about">
  <div class="left-side fadeBottom">
    <img src={brandImg} />
  </div>
  <div class="right-side">
    <h1 class="section__title">We create beautiful design for good business</h1>
    <p class="section__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam tincidunt
      quisque faucibus velit felis tincidunt. Turpis platea sed arcu aliquam
      lorem in. In ut mattis faucibus purus. Donec libero bibendum ut id risus,
      bibendum faucibus velit mattis diam etiam.
    </p>
    <Button>read more</Button>
  </div>
</section>

<style lang="scss">
  section {
    background-color: #fcfcfc;
    overflow: hidden;
    display: flex;
    gap: var(--space-md);
  }
  .left-side img {
    width: 380px;
    transform: translateY(-25%);
  }
  .right-side {
    padding: var(--space-md) var(--space-sm);
    max-width: 650px;
  }
  @media screen and (max-width: 967px) {
    section.container {
      flex-direction: column;
      gap: var(--space-sm);
      padding-inline: 0;
    }
    .left-side {
      height: 300px;
      overflow: hidden;
    }
    .left-side img {
      width: 100%;
      object-fit: cover;
    }
  }
</style>
