/********************************************************************
********************** variable and customization *******************
*********************************************************************/
:root {
  --primary-color: #f3c522;
  --primary-color-dark: #d3a80d;
  --black-color: #111111;
  --link-color: #807b7b;
  --link-color-active: #111111;

  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 3rem;
  --space-xl: 4rem;

  --text-lg: 2.5rem;
  --text-base: 1.18rem;
  --text-bold: 1.25rem;
  --text-light: 0.99rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: var(--text-base);
  font-family: "Jost", sans-serif;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.2s;
}
a:hover,a.active {
  color: var(--link-color-active);
}
button {
  background-color: transparent;
  border: none;
  outline: none;
}

@media screen and (max-width: 1023px) {
  :root {
    --text-lg: 2rem;
    --text-base: 1.1rem;
    --text-bold: 1.2rem;
    --text-light: 0.937rem;
  }
}
/********************************************************************
************************ reusing style components *******************
*********************************************************************/

.desc {
  color: "#555555";
  font-family: "";
}

.spacer {
  flex-grow: 1;
}
.main-container {
  max-width: 1440px;
  margin-inline: auto;
}
.container {
  padding-right: var(--space-xl);
  padding-left: var(--space-xl);
  margin-inline: auto;
  &--small {
    max-width: 1280px;
  }
  &--center {
    text-align: center;
  }
}
.section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.section__ {
  &title {
    font-size: 28px;
    line-height: 140%;
    color: var(--black-color);
    text-transform: capitalize;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
    margin-bottom: var(--space-xs);
  }
  &text {
    font-family: 'Inter', sans-serif;
    line-height: 200%;
    font-weight: 300;
    color: #555555;
    margin-bottom: var(--space-md);
  }
  &subtitle2 {
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Inter',sans-serif;
    font-size: var(--font-bold);
  }
  &subtitle {
    position: relative;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Inter',serif;
    padding-left: 35px;
    margin-bottom: var(--space-sm);
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0px;
      width: 25px;
      height: 4px;
      background-color: var(--primary-color-dark);
      transform: translateY(-50%);
    }
  }
}

.card {
  position: relative;
  &__title {
    font-size: 18px;
    color: var(--black-color);
    text-transform: capitalize;
    letter-spacing: .2rem;
  }
  &__desc {
    color: #d3d3d3;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: capitalize;
  }
  &__content {
    line-height: 140%;
    color: #555555;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    padding-right: var(--space-md);
    padding-left: var(--space-md);
  }
  .section {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
  }
}
