---
import "./base.scss";

import Head from "./head.astro";
import Header from "@layouts/header/index.astro";
import About from "@layouts/about/index.astro";
import Service from "@layouts/service/index.astro";
import Testimonial from "@layouts/testimonial/index.astro";
import Pricing from "@layouts/pricing/index.astro";
import Blog from "@layouts/blog/index.astro";
import Footer from "@layouts/footer/index.astro";
---

<html lang="en">
	<Head />
	<body>
		<div class="main-container">
			<Header />
			<main>
				<About />
				<Service />
				<Testimonial />
				<Pricing />
				<Blog />
			</main>
			<Footer />
			<script
				src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"
				preload
			></script>
			<script type="module">
				// import ScrollReveal from "scrollreveal";
				const sr = ScrollReveal({
					origin: "top",
					distance: "30px",
					duration: 1500,
				});

				sr.reveal(
					`nav.nav,.section__content,.section__overview,.left-side,.container, .card, footer div`,
					{
						interval: 200,
					}
				);
			</script>
		</div>
	</body>
</html>
